<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New</h1>
    <form action="/new" method="post">
        name : <input type="text" name="name"> <br>
        Emp_Number: <input type="text" name="emp_number"><br>
        Email : <input type="text" name="email"><br>
        <input type="submit" value="Join Us">
    </form>
</body>
</html>