doctype html 
html 
    head 
        title cookie 
    body 
        form(method="post" action="/cookie")
            p
                h4 아이디 : 
                input(type="text" name="uid")
            input(type="submit" value="저장")