<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>비밀번호 체크</h1>
    <form actio="/check/<%=id%>" method="post">
        <input type="password" name="password">
        <input type="submit" value="완료">
    </form>
</body>
</html>