<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Board New</h1>
    <form action="/new" method="post" enctype="multipart/form-data">
        작성자 : <input type="text" name="writer"><br><br>
        제목 : <input type="text" name="title"><br><br>
        내용 : <textarea name="content" cols = 30 rosw=10></textarea><br><br>
        <label>파일이름</label><input type="file" name="image"><br><br>
        패스워드 : <input type="password" name="password"><br><br>
        <input type="submit" value="글쓰기">
    </form>
</body>
</html>